<% @page_title = "TEAMS" %>
<h1><%= @page_title %></h1>

<button type="button"><%= link_to "チーム登録", :new_team %></button>

<div class="team-index">

<table>
  <tr>
    <th>カンファレンス</th>
    <th>ディビジョン</th>
    <th>チーム名</th>
    <th>設立</th>
    <th>本拠地</th>
    <th>オーナー</th>
    <th>所属選手数</th>
  </tr>
<% @teams.each do |team|%>
  <tr>
    <td><%= team.division.conference.conference_name %></td>
    <td><%= team.division.division_name %></td>
    <td><%= link_to team.team_name, team %></td>
    <td><%= team.establishment.strftime ("%Y年") %></td>
    <td><%= team.home_court %></td>
    <td><%= team.owner%></td>
  </tr>
<% end %>
</table>
</div>
