<% @page_title = @team.team_name %>
<h1><%= @page_title %></h1>

<h3>チーム情報</h3>
<table>
  <%= image_tag @team.team_image.to_s %>
  <tr>
    <th>カンファレンス</th>
    <th><%= @team.division.conference.conference_name %></th>
  </tr>
  <tr>
    <th>ディビジョン</th>
    <td><%= @team.division.division_name %></td>
  </tr>
  <tr>
    <th>チーム名</th>
    <td><%= @team.team_name %></td>
  </tr>
  <tr>
    <th>設立</th>
    <td><%= @team.establishment %></td>
  </tr>
  <tr>
    <th>本拠地</th>
    <td><%= @team.home_court %> </td>
  </tr>
  <tr>
    <th>オーナー</th>
    <td><%= @team.owner %></td>
  </tr>
</table>

<h3>所属選手</h3>
<% @team_players.each do |team_player| %>
<table>
  <tr>
    <th>選手名</th>
    <th>背番号</th>
    <th>ポジション</th>
    <th>年齢</th>
    <th>身長</th>
    <th>体重</th>
    <th>出身</th>
  </tr>
  <tr>
    <td><%= team_player.full_name %></td>
    <td><%= team_player.number %></td>
    <td><%= team_player.positions.sort.map(&:position_name).join('/') %></td>
    <td><%= team_player.age %></td>
    <td><%= team_player.height %></td>
    <td><%= team_player.weight %></td>
    <td><%= team_player.college %></td>
  </tr>
</table>
<% end %>
