<% @page_title = "NBA STATS" %>

<h1><%= @page_title %></h1>

<div id="news_topics">
  <h2>新着記事一覧</h2>
    <% if logged_in? %>
      <% articles = Article.member_article.order(released_at: :desc).limit(5) %>
    <% else %>
      <% articles = Article.open_article.order(released_at: :desc).limit(5) %>
    <% end %>
    <% articles.each do |article| %>
      <div class="news">
        <h4><%= link_to article.title.truncate(30), article %></h4>
        <a class="expired-day">掲載日<a/><a class="post-date"> <%= article.released_at.strftime("%Y年%m月%d日") %></a>
      </div>
    <% end %>
    <bbutton class="btn btn-info index"><%= link_to "記事一覧", :articles %></button>
</div>

<div id="blog_topics">
  <h2>新着ブログ一覧</h2>
    <% if logged_in? %>
      <% posts = Post.all.order(created_at: :desc).limit(5) %>
    <% else %>
      <% posts = Post.open_post.order(created_at: :desc).limit(5) %>
    <% end %>
    <% posts.each do |post| %>
      <div class="blog">
        <h4><%= link_to post.title.truncate(30), post %></h4>
        <a class="contributor">投稿者 <%= link_to post.member.full_name, post.member %></a>
      </div>
    <% end %>
    <button class="btn btn-info index"><%= link_to "ブログ一覧", :posts %></button>
</div>
