<% @page_title = "NBA STATS" %>

<h1><%= @page_title %></h1>

<div id="news_topics">
  <h2><%= t('.new_articles') %></h2>
    <% @articles&.limit(5) %>
    <% @articles&.each do |article| %>
      <div class="news">
        <h4><%= link_to article.title.truncate(30), article %></h4>
        <a class="expired-day"><%= t('.released_at') %></a><a class="post-date"> <%= article.released_at.strftime("%Y年%m月%d日") %></a>
      </div>
    <% end %>
    <button class="btn btn-info index"><%= link_to t('page_action.index', name: Article.model_name.human), :articles %></button>
</div>

<div id="blog_topics">
  <h2><%= t('.new_posts') %></h2>
    <% if logged_in? %>
      <% posts = Post.all.order(created_at: :desc).limit(5) %>
    <% else %>
      <% posts = Post.open_post.order(created_at: :desc).limit(5) %>
    <% end %>
    <% posts.each do |post| %>
      <div class="blog">
        <h4><%= link_to post.title.truncate(30), post %></h4>
        <a class="contributor"><%= t('.author') %> <%= link_to post.member.full_name, post.member %></a>
      </div>
    <% end %>
    <button class="btn btn-info index"><%= link_to t('page_action.index', name: Post.model_name.human), :posts %></button>
</div>
