<% @page_title = t('page_action.index', name: Member.model_name.human) %>
<h1><%= @page_title %></h1>

<button type="button"><%= link_to t('page_action.new', name: Member.model_name.human), :new_member %></button>

<table>
<tr>
  <th><%= t('.name') %></th>
  <th><%= t('.name_call') %> </th>
  <th><%= t('.email') %></th>
  <th><%= t('.birthday') %></th>
</tr>
<% @members.each do |member| %>
<tr>
  <td><%= link_to member.last_name + " " + member.first_name , member %></td>
  <td><%= member.last_name_call %> <%= member.first_name_call %></td>
  <td><%= member.email %></td>
  <td><%= member.birthday.strftime("%Y年 %m月 %d日") %></td>
</tr>
<% end %>
</table>
