<% @page_title = t('page_action.new', name: Position.model_name.human) %>
<h1><%= @page_title %></h1>

<%= form_for @position do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
<table>
  <tr>
    <th><%= f.label :position_name %></th>
    <td><%= f.text_field :position_name %></td>
  </tr>
  <tr>
    <th><%= f.submit t('button.new') %></th>
  </tr>
</table>
<% end %>
