<% @page_title = "プレイヤー" %>
<h1><%= @page_title %></h1>

<button type="button"><%= link_to "プレイヤー登録", :new_player %></button>
<button type="button"><%= link_to "プレイヤーcsv取込", :player_import_admin_players %></button>


<table>
  <tr>
    <th>選手名</th>
    <th>背番号</th>
    <th>ポジション</th>
    <th>年齢</th>
    <th>身長</th>
    <th>体重</th>
    <th>出身</th>
  </tr>
<% @players.each do |player| %>
  <tr>
    <td><%= link_to player.full_name, player %></td>
    <td><%= player.number %></td>
    <td><%= player.positions.sort.map(&:position_name).join('/') %></td>
    <td><%= player.age %></td>
    <td><%= player.height %></td>
    <td><%= player.weight %></td>
    <td><%= player.college %></td>
  </tr>
<% end %>
</table>
