<% @page_title = "記事編集" %>
<h1><%= @page_title %></h1>

<%= form_for @article do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
<table>
<tr>
  <th><%= f.label :title %></th>
  <td><%= f.text_field :title, :size=>"60x5" %></td>
</tr>
<tr>
  <th><%= f.label :body %></th>
  <td><%= f.text_area :body, :size=>"60x15" %></td>
</tr>
<tr>
  <th><%= f.label :released_at %></th>
  <td><%= f.datetime_select :released_at %></td>
</tr>
<tr>
  <th><%= f.label :expired_at %></th>
  <td><%= f.datetime_select :expired_at %></td>
</tr>
<tr>
  <th><%= f.label :member_only %></th>
  <td><%= f.check_box :member_only %></td>
</tr>
</table>

<div><%= f.submit "更新" %></div>
<%= link_to "削除", @article, method: :delete, data: { confirm: "削除しますか?"} %>
<% end %>
