<% @page_title = "新規投稿" %>
<h1><%= @page_title %></h1>

<% if @article.errors.any? %>
  <div>
    <ul>
      <% @article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @article do |form| %>
  <table id="form">
    <tr>
      <th><%= form.label :title %></th>
      <td><%= form.text_field :title %></td>
    </tr>
    <tr>
      <th><%= form.label :body %></th>
      <td><%= form.text_area :body %></td>
    </tr>
    <tr>
      <th><%= form.label :released_at %></th>
      <td><%= form.datetime_select :released_at, {
            start_year: Time.current.year,
            end_year: Time.current.year + 1,
            default: Time.zone.today
          }
            %></td>
    </tr>
    <tr>
      <th><%= form.label :expired_at %></th>
      <td><%= form.datetime_select :expired_at, {
            start_year: Time.current.year,
            end_year: Time.current.year + 1,
            default: Time.zone.today + 1.month
          }
            %></td>
    </tr>
    <tr>
      <th><%= form.label :member_only %></th>
      <td><%= form.check_box :member_only, { :checked => true } %></td>
    </tr>

    <tr>
      <%= form.hidden_field :member_id, value: current_member.id %>
      <th><%= form.submit "投稿" %></th>
    </tr>
  </table>
<% end %>
