<% @page_title = "記事詳細" %>
<h1><%= @page_title %></h1>

<h2><%= @article.title %></h2>
<p><%= @article.body %></p>
<p>投稿者　<%= link_to @member.last_name + " " + @member.first_name, @member %></p>

<% if current_member.administrator? %>
<button type="button"><%= link_to "記事一覧", :articles %></button>
<button type="button"><%= link_to "編集", :edit_article %></button>
<% end %>
