<% @page_title = t('.article_show')  %>
<h1><%= @page_title %></h1>

<div class="article-show">
  <div class="article-image">
    <%= image_tag @article.article_image.to_s, :size => '400x400' %>
  </div>
  <div class="article-title">
    <h2><span><%= @article.title %></span></h2>
  </div>
  <p><%= simple_format(@article.body) %></p>
  <p>投稿者　<%= link_to @member.full_name, @member %></p>
</div>

<button><%= link_to t('.articles'), :articles %></button>
<% if admin_member %>
  <button><%= link_to t('button.edit'), :edit_admin_article %></button>
<% end %>
