<% @page_title = "管理者ページ" %>
<h1><%= @page_title %></h1>

<li><%= link_to "カンファレンス管理", :conferences %></li>
<li><%= link_to "チーム管理", :admin_teams %></li>
<li><%= link_to "スケジュール管理", :admin_schedules %></li>
<li><%= link_to "プレイヤー管理", :admin_players %></li>
<li><%= link_to "ポジション管理", :positions %></li>
<li><%= link_to "記事管理", :admin_articles %></li>
<li><%= link_to "ブログ管理", :admin_posts %></li>
<li><%= link_to "会員管理", :admin_members %></li>
