<% @page_title = "カンファレンス編集" %>
<h3><%= @page_title %></h3>

<%= form_for @conference do |f| %>
  <table>
    <tr>
      <th><%= f.label :conference_name %></th>
      <td><%= f.text_field :conference_name %></td>
    </tr>
  </table>
  <div><%= f.submit "更新", { method: :post} %></div>
  <button type="button"><%= link_to "削除", @conference, method: :delete, data: { confirm: "削除しますか?"} %></button>
  <% end %>
