<% @page_title = t('page_action.edit', name: Conference.model_name.human) %>
<h3><%= @page_title %></h3>

<%= form_for @conference do |f| %>
  <table>
    <tr>
      <th><%= f.label :conference_name %></th>
      <td><%= f.text_field :conference_name %></td>
    </tr>
  </table>
  <button><%= t('button.update') %></button>
  <button type="button"><%= link_to t('button.delete'), @conference, method: :delete, data: { confirm: '削除しますか?'} %></button>
  <% end %>
