<% @page_title = "カンファレンス情報" %>
<h2><%= @page_title %></h2>

<h3><%= @conference.conference_name %></h3>

<div class="division-list">
  <% @divisions.each do |division| %>
    <h4><%= link_to division.division_name, :edit_division %></h4>
    <div>
      <% @teams = Team.where("division_id = ?", division.id) %>
      <% @teams.each do |team| %>
        <li style="list-style-type: none"> <%= link_to team.team_name, team %></li>
      <% end %>
    </div>
  <% end %>
</div>

<button type="button"><%= link_to "一覧", :conferences %></button>
<% if logged_in? %>
  <button type="button"><%= link_to "ディビジョン登録", :new_division %></button>
  <button type="button"><%= link_to "編集", :edit_conference %></button>
<% end %>
