<% @page_title = t('page_action.new', name: Division.model_name.human) %>
<h1><%= @page_title %></h1>

<%= form_for @division do |f| %>
<table>
  <tr>
    <th><%= f.label :conference_id %></th>
    <td><%= f.collection_select(:conference_id, @conferences, :id, :conference_name) %></td>
  </tr>
  <tr>
    <th><%= f.label :division_name %></th>
    <td><%= f.text_field :division_name %></td>
  </tr>
</table>
<button><%= t('button.new') %></button>
<% end %>
