<% @page_title = "選手登録" %>
<h1><%= @page_title %></h1>

<%= form_for @player do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
<table>
  <tr>
    <th>選手名</th>
    <td><%= f.label :first_name %><%= f.text_field :first_name %></td>
    <td><%= f.label :last_name %><%= f.text_field :last_name %></td>
  </tr>
  <tr>
    <th>背番号</th>
    <td><%= f.label :number %><%= f.text_field :number %></td>
  </tr>
  <tr>
    <th><%= f.label :position %></th>
    <td><%= f.collection_check_boxes(:position, @positions, :id, :position_name) %></td>
  </tr>
  <tr>
    <th><%= f.label :birthday %></th>
    <td><%= f.date_select :birthday, {
          start_year: 1970,
          end_year: Time.current.year,
          default: Time.zone.today - 30.year
        }
          %></td>
  </tr>
  <tr>
    <th><%= f.label :height %></th>
    <td><%= f.text_field :height  %></td>
  </tr>
  <tr>
    <th><%= f.label :weight %></th>
    <td><%= f.text_field :weight %></td>
  </tr>
  <tr>
    <th><%= f.label :country %></th>
    <td><%= f.country_select :country, priority_countries: ["US"] %></td>
  </tr>
  <tr>
    <th><%= f.label :college %></th>
    <td><%= f.text_field :college %></td>
  </tr>
  <tr>
    <th><%= f.label :affiliation %></th>
    <td><%= f.collection_select(:affiliation, @teams, :id, :team_name) %></td>
  </tr>
  <tr>
    <th><%= f.submit "新規登録" %></th>
  </tr>
</table>
<% end %>
