<% @page_title = t('page_action.edit', name: Shcedule.model_name.human) %>
<h1><% @page_title %></h1>

<div>
  <%= form_for [:admin, @schedule] do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <table>
    <tr>
      <th><%= f.label :match_day %></th>
      <th><%= f.label :home_team_id %></th>
      <th><%= f.label :away_team_id %></th>
      <th><%= f.label :venue %></th>
      <th id="score"><%= f.label :home_score %></th>
      <th id="score"><%= f.label :away_score %></th>
    </tr>
    <tr>
      <td><%= f.date_select :match_day %></td>
      <td><%= f.collection_select(:home_team_id, Team.all.order(team_name: :asc), :id, :team_name) %></td>
      <td><%= f.collection_select(:away_team_id, Team.all.order(team_name: :asc), :id, :team_name) %></td>
      <td><%= f.collection_select(:venue, Team.all.order(team_name: :asc), :home_court, :home_court_select) %></td>
      <td id="score"><%= f.text_field :home_score, :size=>"12" %></td>
      <td id="score"><%= f.text_field :away_score, :size=>"12" %></td>
    </tr>
  </table>
  <button><%= t('button.update', name: Shcedule.model_name.human) %></button>
  <% end %>
</div>
