<% @page_title = t('.posts') %>
<h1><%= @page_title %></h1>

<% if logged_in? %>
  <button type="button"><%= link_to t('button.new_post'), :new_post %></button>
<% end %>

<% @posts.each do |post| %>
<div class="post-index">
  <div>
    <h3 class="post_title"><%= link_to post.title, post, class: "post-title" %></h3>
    <p class="post_body"><%= simple_format(post.body.truncate(200)) %></p>
    <div><%= t('.author') %>  <%= link_to post.member.full_name, post.member %></div>
    <div><%= t('.posted_at') %> <%= post.created_at.strftime(" %Y年 %m月 %d日 %H時%M分 ") %></div>
  </div>
</div>
<% end %>

<button type="button" class="top-btn"><%= link_to t('button.top'), "/" %></button>
