<% @page_title = "ブログ詳細" %>
<h1><%= @page_title %></h1>

<h2><%= simple_format(@post.title) %></h2>
<p><%= simple_format(@post.body) %></p>
<p>投稿者　<%= link_to @member.full_name, @member %></p>


<% if @comments.count > 0 %>
  <div>
    <h2>コメント一覧</h2>
    <% @comments.each do |comment| %>
      <p><%= comment.body %></p>
      <p>投稿者 <%= link_to comment.member.full_name, comment.member %> </p>
      <p><%= comment.created_at.strftime("%Y年 %m月 %d日 %H時%M分") %>
        <% if current_member &.administrator? || current_member &.id == comment.member_id %>
          <%= link_to "削除", post_comment_url(@post, comment) , method: :delete %>
        </p>
        <% end %>
    <% end %>
    </div>
  <% end %>


<% if logged_in? %>
  <%= form_for ([@post, @comment]) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div id="comment-modal">
    <th><%= f.label :body %></th>
    <td><%= f.text_area :body %></td>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.hidden_field :member_id, value: current_member.id %>
  </div>
    <th id><%= f.submit "コメントする" %></th>
  <% end %>
<% end %>
<button><%= link_to "ブログ一覧", :posts %></button>
<% if current_member == @post.member %>
  <button><%= link_to "編集", :edit_post %></button>
<% end %>

<script>

</script>
