<% @page_title = "選手契約編集" %>
<h1><%= @page_title %></h1>

<%= form_for ([:admin, @player, @team_player]) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
<table>
  <tr>
    <th><%= f.label :team_id %></th>
    <td><%= f.collection_select(:team_id, @teams, :id, :team_name) %></td>
  </tr>
  <tr>
    <th><%= f.label :contract_start %></th>
    <td><%= f.date_select :contract_start, {
          start_year: 1990,
          end_year: 2025,
          default: Time.zone.today
        }
          %></td>
  </tr>
  <tr>
    <th><%= f.label :contract_period %></th>
    <td><%= f.date_select :contract_period, {
          start_year: 1990,
          end_year: 2025,
          default: Time.zone.today
        }
          %></td>
  </tr>
  <tr>
    <%= f.hidden_field :player_id, value: @player.id %>
  </tr>
</table>
<button><%= "更新" %></button>
<button><%= link_to "削除", admin_player_team_player_url(@player, @team_player), method: :delete, data: {confirm: "削除しますか？"} %></button>
<% end %>
