<% @page_title = t('page_action.index', name: TeamPlayer.model_name.human) %>
<h1><%= @page_title %></h1>

<% @team_players.each do |team_player| %>
<table>
  <tr>
    <th><%= t('.name') %></th>
    <th><%= t('.contract_team') %></th>
    <th><%= t('.contract_start') %></th>
    <th><%= t('.contract_period') %></th>
  </tr>
</table>
<% end %>
