<% @page_title = @team.team_name %>
<h1><%= @page_title %></h1>

<div class="team-info">
<h3>チーム情報</h3>
<table>
  <%= image_tag @team.team_image.to_s, :size => '200x200' %>
  <tr>
    <th>カンファレンス</th>
    <th><%= @team.division.conference.conference_name %></th>
  </tr>
  <tr>
    <th>ディビジョン</th>
    <td><%= @team.division.division_name %></td>
  </tr>
  <tr>
    <th>チーム名</th>
    <td><%= @team.team_name %></td>
  </tr>
  <tr>
    <th>設立</th>
    <td><%= @team.establishment %></td>
  </tr>
  <tr>
    <th>本拠地</th>
    <td><%= @team.home_court %> </td>
  </tr>
  <tr>
    <th>オーナー</th>
    <td><%= @team.owner %></td>
  </tr>
</table>
</div>

<div class="schedule">
  <table>
    <tr>
      <th>試合日</th>
      <th>ホームチーム</th>
      <th>スコア</th>
      <th>アウェイチーム</th>
      <th>開催地</th>
      <th>編集</th>
    </tr>
    <% @schedules.each do |schedule| %>
    <tr>
      <td><%= schedule.match_day %></td>
      <td><%= link_to schedule.home_team.team_name, team_path(schedule.home_team) %></td>
      <td id="result"><span><%= schedule.home_score.to_s + " - " + schedule.away_score.to_s %></span></td>
      <td><%= link_to schedule.away_team.team_name, team_path(schedule.away_team) %></td>
      <td><%= schedule.venue %></td>
      <td><%= link_to "編集", edit_admin_schedule_path(schedule.id) %></td>
    </tr>
  </table>
</div>

<div class="team-player">
<h3>所属選手</h3>
<table>
  <tr>
    <th>選手名</th>
    <th>背番号</th>
    <th>ポジション</th>
    <th>年齢</th>
    <th>身長</th>
    <th>体重</th>
    <th>出身</th>
  </tr>
<% @team.team_players.each do |team_player| %>
  <tr>
    <td><%= link_to team_player.full_name, player_path(team_player.player) %></td>
    <td><%= team_player.player.number %></td>
    <td><%= team_player.player.positions.sort.map(&:position_name).join('/') %></td>
    <td><%= team_player.player.age %></td>
    <td><%= team_player.player.height %></td>
    <td><%= team_player.player.weight %></td>
    <td><%= team_player.player.college %></td>
  </tr>
<% end %>
</table>
</div>


<button type="button"><%= link_to "チーム一覧", :teams %></button>
<% if logged_in? %>
  <button type="button"><%= link_to "編集", :edit_team %></button>
<% end %>
