<% @page_title = "HC編集" %>
<h1><%= @page_title %></h1>

<%= form_for @headcoach do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
<table>
  <tr>
    <th><%= f.label :headcoach_image %></th>
    <td><%= f.file_field :headcoach_image %></td>
  </tr>
  <tr>
    <th rowspan="2">コーチ名</th>
    <td><%= f.label :first_name %><%= f.text_field :first_name %></td>
  </tr>
  <tr>
    <td><%= f.label :last_name %><%= f.text_field :last_name %></td>
  </tr>
  <tr>
    <th><%= f.label :birthday %></th>
    <td><%= f.date_select :birthday, {
          start_year: 1920,
          end_year: Time.current.year,
          default: Time.zone.today - 50.year
        }
          %></td>
  </tr>
  <tr>
    <th><%= f.label :college %></th>
    <td><%= f.text_field :college %></td>
  </tr>
</table>
  <button><%= "更新" %></button>
  <button><%= link_to "削除", @headcoach, method: :delete, data: { confirm: "削除しますか？"} %></button>
<% end %>
