<% @page_title = t('.headcoaches') %>
<h1><%= @page_title %></h1>

<% if admin_member %>
  <button type="button"><%= link_to t('button.new'), :new_headcoach %></button>
<% end %>

<table>
  <tr>
    <th><%= t('.name') %></th>
    <th><%= t('.age') %></th>
    <th><%= t('.college') %></th>
  </tr>
  <% @headcoaches.each do |headcoach| %>
  <tr>
    <td><%= link_to headcoach.full_name, headcoach %></td>
    <td><%= headcoach.age %></td>
    <td><%= headcoach.college %></td>
  </tr>
  <% end %>
</table>
