<% @page_title = t('page_action.new', name: Headcoach.model_name.human) %>
<h1><%= @page_title %></h1>

<%= form_for @headcoach do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
<table>
  <tr>
    <th><%= f.label :headcoach_image %></th>
    <td><%= f.file_field :headcoach_image %></td>
  </tr>
  <tr>
    <th rowspan="2"><%= t('.name') %></th>
    <td><%= f.label :first_name %><%= f.text_field :first_name %></td>
  </tr>
  <tr>
    <td><%= f.label :last_name %><%= f.text_field :last_name %></td>
  </tr>
  <tr>
    <th><%= f.label :birthday %></th>
    <td><%= f.date_select :birthday, {
          start_year: 1920,
          end_year: Time.current.year,
          default: Time.zone.today - 50.year
        }
          %></td>
  </tr>
  <tr>
    <th><%= f.label :college %></th>
    <td><%= f.text_field :college %></td>
  </tr>
</table>
<button><%= t('button.new') %></button>
<% end %>
