<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title = t('page_action.index', name: Article.model_name.human) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div id="header">
      <div class="left_menu">
        <div id="logo">
          <%= link_to image_tag('logo.png', :size=>"76x41"), "/" %>
        </div>
        <div class="menu">
          <a><%= link_to t('application.news'), :articles %></a>
          <a><%= link_to t('application.posts'), :posts %></a>
          <a><%= link_to t('application.teams'), :teams %></a>
          <a><%= link_to t('application.schedule'), :schedules %></a>
          <a><%= link_to t('application.players'), :players %></a>
          <a><%= link_to t('application.HC'), :headcoaches %></a>
          <a><%= link_to t('application.members'), :members %></a>
        </div>
      </div>
      <div class="right_menu">
        <div class="member">
          <% if logged_in? %>
            <a><%= link_to current_member.full_name + " さん", current_member %></a>
            <a><%= link_to t('application.admin_menu'), "/admin" %></a>
            <a><%= link_to t('application.logout'), "/logout" %></a>
          <% else %>
            <a><%= link_to t('application.signup'), :new_member %></a>
            <a><%= link_to t('application.login'), "/login" %></a>
          <% end %>
        </div>
      </div>
    </div>
  </header>

  <body>
    <div class="containar">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>
