<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div class="header">
      <li><%= link_to "ニュース", :articles %></li>
      <li><%= link_to "ブログ", "#" %></li>
      <li><%= link_to "会員一覧", "#" %></li>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
