<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div id="header">
      <div class="left_menu">
        <div id="logo">
          <%= link_to image_tag('logo.png', :size=>"76x41"), "/" %>
        </div>
        <div class="menu">
          <a><%= link_to "ニュース", :articles %></a>
          <a><%= link_to "ブログ", :posts %></a>
          <a><%= link_to "チーム", :teams %></a>
          <a><%= link_to "スケジュール", :schedules %></a>
          <a><%= link_to "プレイヤー", :players %></a>
          <a><%= link_to "ヘッドコーチ", :headcoaches %></a>
          <a><%= link_to "会員一覧", :members %></a>
        </div>
      </div>
      <div class="right_menu">
        <div class="member">
          <% if logged_in? %>
            <a><%= link_to current_member.full_name + " さん", current_member %></a>
            <a><%= link_to "管理者メニュー", "/admin" %></a>
            <a><%= link_to "ログアウト", "/logout" %></a>
          <% else %>
            <a><%= link_to "新規登録", :new_member %></a>
            <a><%= link_to "ログイン", "/login" %></a>
          <% end %>
        </div>
      </div>
    </div>
  </header>

  <body>
    <div class="containar">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>
