<% @page_title = t('page_action.edit', name: Member.model_name.human) %>
<h1><%= @page_title %></h1>

<%= form_for @member do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
  <table>
    <tr>
      <th><%= f.label :profile_image %></th>
      <td><%= f.file_field :profile_image %></td>
    </tr>
    <tr>
      <th rowspan="2"><%= t('.name') %></th>
      <td><%= f.label :last_name %><%= f.text_field :last_name %></td>
    </tr>
    <tr>
      <td><%= f.label :first_name %><%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <th rowspan="2"><%= t('.name_call') %></th>
      <td><%= f.label :last_name_call %><%= f.text_field :last_name_call %></td>
    </tr>
    <tr>
      <td><%= f.label :first_name_call %><%= f.text_field :first_name_call %></td>
    </tr>
    <tr>
      <th><%= f.label :email %></th>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <th><%= f.label :birthday %></th>
      <td><%= f.date_select :birthday, {
            start_year: 1900,
            end_year: Time.current.year,
            default: Time.zone.today - 30.year
          }
            %></td>
    </tr>
    <tr>
      <th><%= f.label :sex %></th>
      <td><%= f.radio_button :sex, 0 %><%= t('.male') %><%= f.radio_button :sex, 1 %><%= t('.female') %></td>
    </tr>
    <tr>
      <th><%= f.label :administrator %></th>
      <td><%= f.check_box :administrator, { :checked => true } %></td>
    </tr>
  </table>
  <% if @member.administrator? %>
    <button><%= t('button.update') %></button>
    <button><%= link_to t('button.delete'), @member, method: :delete, data: { confirm: '削除しますか？'} %></button>
  <% end %>
<% end %>
